---
import { getCollection } from "astro:content"
import Layout from "../../../layouts/Layout.astro"
import '../../../styles/global.css'

export async function getStaticPaths() {
    let posts = await getCollection('blog')
    return posts.map(page => {
        let [lang, ...slugParts] = page.slug.split('/')
        let slug = slugParts.join('/')
        return {
            params: {lang, slug},
            props: {page}
        }
    })
}

let {page} = Astro.props
let {Content} = await page.render()
---

<Layout title={page.data.title}>
    <div class="max-w-content mx-auto p-4">
        <article>
            <h2 class="text-3xl mb-2">{page.data.title}</h2>
            <p class="text-gray-500 mb-2">{page.data.date.toISOString().split('T')[0]}</p>
            <div class="prose lg:prose-xl dark:prose-invert">
                <Content/>
            </div>
        </article>
    </div>
</Layout>